<div class="row">
    <div class="card" style="width: 18rem; margin-top: 10%">
        <img src="../../assets/greaterthan-lessthan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Comparison</h5>
          <p class="card-text">Here you can practise <,>,=.</p>
          <a [routerLink]="['comparison']" class="btn btn-primary">Go compare</a>
        </div>
    </div>
    <div class="card" style="width: 18rem; margin-top: 10%; margin-left: 5%">
        <img src="../../assets/greaterthan-lessthan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Acend Decnd</h5>
          <p class="card-text">Here you can practise accending and descending</p>
          <a [routerLink]="['ascdsc']" class="btn btn-primary">Go asc dsc</a>
        </div>
    </div>
</div>
